<div class="header">
  <h1 class="title-text">
    Login
  </h1>
</div>
<form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
  <mat-form-field class="form-field">
    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" [(ngModel)]="password" name="password" [type]="hidePassword ? 'password' : 'text'" required>
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <div class="login-button-section">
    <button mat-raised-button color="primary" class="login-button" type="submit">
      Login
    </button>
  </div>
</form>