<div class="container complete-feed">
  <div *ngFor="let user of users" class="profile-feed row">
    
    <div class="profile-header row">
      <img class="profile-pic" src="{{user.profilePictureLink }}">
      <h2> {{user.name}} </h2>
      <h3> {{user.years}} </h3>
      <!-- <h3> {{user.rating}} </h3> -->
      <div *ngFor="let i of [1,2,3,4,5]">
        <fa-icon *ngIf="i<=user.rating" [icon]="ratingStar" class="rating-icon"></fa-icon>
      </div>
    </div>
    <div class="row portfolio-images-container">
      <img *ngFor="let userImage of user.portfolioImagesLinks" class="portfolio-image" src="{{userImage}}">
    </div>
  </div>
</div>