<div class="header">
  <h1 class="title-text">
    Invoice {{ invoice.id }}
  </h1>
  <h1 class="title-text">
    <a>{{customerName}}</a> 
  </h1>
  <h1 class="title-text">
    <a>${{invoice.amount}}</a> 
  </h1>
</div>
<form class="inputForm" (ngSubmit)="saveForm()">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [formControl]="invoiceDateValidator" placeholder="Invoice date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Items
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item *ngFor="let item of invoice.items">
          <!-- <a matLine href="...">{{ customer.name }}</a> -->
          <div matLine class="item-line">
            {{ item.description }}
            <div class="item-line-right-side"> ${{item.cost}}</div>
          </div>         
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="submit-buttons">
    <button mat-raised-button color="warn" class="submit-button" type="button" (click)="onFormCancel()">
      Cancel
    </button>
    <div class="separator"></div>
    <button mat-raised-button color="primary" class="submit-button" type="submit">
      Save
    </button>
    <div class="separator"></div>
    <button mat-raised-button class="submit-button" class="submit-button" type="button" (click)="sendEmail()">
      Email
    </button>
  </div>
</form>
<form class="inputForm" (ngSubmit)="addNewItem()">
  <mat-form-field class="form-field">
      <input matInput placeholder="Item description" [formControl]='newItemDescriptionValidator'  name="description" required>
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Cost" [formControl]='newItemCostValidator' type="number"  name="email" required>
  </mat-form-field>
  <button mat-raised-button color="accent" class="submit-button" type="submit">
    Add Item
  </button>
</form>
