.header {
  display: block;
}
.inputForm {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: auto;
  .submit-buttons{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    width: 352px;
    .separator{
      width: 44px;
    }
  }
  .item-line {
    display: flex;
    .item-line-right-side {
      margin-left: auto;
    }
  }
}
.invoice-form > * {
  width: 100%;
}
