// h1,
// h2 {
//   height: 1em;
//   margin: 0px;
// }
// h3,
// h4,
// h5 {
//   height: 1em;
//   margin: 0px;
// }
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.view-profile-button{
  margin-left: auto;
  margin-bottom: 16px;
}
.profile-pic {
  background-size: cover;
}
.profile-feed{
  margin-bottom:30px;
}
.complete-feed{
  width: 500px;
  margin: auto;
}

// .profile-row {
//   margin-left: auto;
//   margin-right: auto;
//   MARGIN-bottom: 80px;
//   height: 220px;
//   padding: 5px;
//   width: 100%;
//   border: 2px solid #6e6e6e;
//   .profile-header {
//     
//     .profile-name{
//       display: inline-block;
//     }
//     .rating-icon {
//       float: left;
//       margin-right: 5px;
//     }
//     .complete-feed {
//       width: 600px;
//       margin: auto;
//     }
//   }
//   .profile-body {
//     .portfolio-images-container {
//       margin-top: 20px;
//       .portfolio-image {
//         height: 100px;
//         width: 100px;
//         margin-right: 20px;
//       }
//     }
//   }
// }